body {
  font-family: Montserrat, sans-serif;
  background-color: #202020;
  color: #fcfbfb;
  width: 100%;
}
a {
  text-decoration: none;
  color: currentColor;
}
.container {
  max-width: 1168px;
  padding: 20px 80px;
  margin: 0 auto;
  box-sizing: border-box;
}
.goBack {
  font-weight: bold;
  font-size: 16px;
}
.wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
  color: white;
}

.cursor-box {
  width: 120px;
  height: 120px;
  background-color: rgb(216, 20, 190);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
}

.square:hover {
  border-radius: 30px;
}
.circle:hover {
  border-radius: 50%;
}
.triangle:hover {
  border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
}
.drop:hover {
  border-radius: 50% 50% 50% 0%;
}
.rectangle:hover {
  border-radius: 50% 20%/10% 40%;
}
.leafShape:hover {
  border-radius: 50% 0%;
}
